[Unit]
Description=Techna Service
After=network.target

[Service]
WorkingDirectory=/home/pi/antena-service/techna
ExecStart=/home/pi/.config/nvm/versions/node/v17.1.0/bin/npm run start:prod
Restart=on-failure
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target