[Unit]
Description=Modulo Antena Service
After=network.target antena.service

[Service]
WorkingDirectory=/home/pi/antena-service/techna
ExecStart=/usr/bin/python3 continuous-read.py
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
