body {
    background-color:  RGB( 96, 93, 246 );
}

.teclado {
    height: 69%;
}
span {
    display: block;
  }
  .code{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    margin-top: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 8px 3px;
    width: 13.2em;   
    font-family: Tahoma;
    font-size: 2em;
    background-color: RGB( 65,92,186);
  }
#code {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    margin-top: 0.9em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 8px 3px;
    width: 15.9em;   
    font-family: Tahoma;
    font-size: 2em;
    background-color: RGB( 65,92,186);
    height: 3em;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white
}

.botao {
    background-color: #333D50;
    border-color: #7C8497;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -9px 11px 36px 3px rgba(0,0,0,0.61); 
    box-shadow: -9px 11px 36px 3px rgba(0,0,0,0.61);
    margin: 13px;
    width: 1em;
    height: 2em;
    font-size: 2.8em;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.icone-menu {
    background-color: RGB( 65,92,186);
    -webkit-box-shadow: inset -9px 11px 20px 3px rgba(255,255,255,0.52); 
    box-shadow: inset -9px 11px 20px 3px rgba(255,255,255,0.52);
    width: 6em !important;
    height: 5.9em; 
    
    font-size: 2em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 4em;
    color: white
}

.clock {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    
    margin-left: 0.14em;
    padding: 8px 3px;
    /* font-family: Tahoma; */
    font-size: 2em;
    background-color: RGB( 65,92,186);

    color: white;
    font-size: 60px;

    /* Provide space between letter of clock */
    letter-spacing: 7px;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
 
    height: 1.4em;
    width: 6.64em;

    /* Set the neumorphism effect to
     the body of clock */
    box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}