<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="d-flex flex-row">
      <div class="p-2" style="height: 37.5em">
        <div
          class="btn-group-vertical ml-4 mt-4 teclado"
          role="group"
          aria-label="Basic example"
        >
          <div class="btn-group">
            <div
              class="text-center form-control-lg mb-2"
              type="password"
              id="code"
            ></div>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('7');"
            >
              7
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('8');"
            >
              8
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('9');"
            >
              9
            </button>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('4');"
            >
              4
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('5');"
            >
              5
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('6');"
            >
              6
            </button>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('1');"
            >
              1
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('2');"
            >
              2
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('3');"
            >
              3
            </button>
          </div>
          <div class="btn-group" style="padding-bottom: 1em">
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="setValue('0');"
            >
              0
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary py-3 botao"
              onclick="apagar();"
              style="width: 41%"
            >
              <div style="text-align: center">
                <i class="fa-solid fa-delete-left"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="d-flex flex-column mt-4" style="margin-left: 0.5rem">
          <div id="MyClockDisplay" class="clock" onload="showTime()"></div>

          <div class="d-flex flex-row" style="margin-top: 4em">
            <div class="p-2">
              <button
                type="button"
                class="icone-menu"
                onclick="location.href='pages/estoque.html'"
              >
                <img src="./assets/ico_bot_estoque.png" style="height: 2em" />
                <span>Estoque</span>
              </button>
            </div>
            <div class="p-2">
              <button
                type="button"
                class="icone-menu"
                onclick="location.href='pages/movimentacoes.html'"
              >
                <img
                  src="./assets/ico_bot_integracao.png"
                  style="height: 2em"
                />
                <span>Integrações</span>
              </button>
            </div>
          </div>
        </div>
        <div
          class="d-flex align-items-end flex-column"
          style="margin-top: 1.5em; width: 27.5em"
        >
          <img src="./assets/logo_techna.png" style="height: 6em" />
        </div>
        <div class="text-center form-control-lg mb-2 code">
          <div class="d-flex flex-row justify-content-evenly">
            <img
              src="assets/ico_bot_config.png"
              onclick="window.open('./pages/configuracao.html','_self');"
              style="width: 2.5rem; height: 2.5rem; margin-top: 1%"
            />
            <img
              src="assets/ico_stat_license_on.png"
              style="width: 2.5rem; height: 2.5rem; margin-top: 1%"
            />
            <img
              src="assets/ico_stat_integracao_on.png"
              style="width: 2.5rem; height: 2.5rem; margin-top: 1%"
            />
            <img
              src="assets/ico_stat_internet_on.png"
              style="width: 2.5rem; height: 2.5rem; margin-top: 1%"
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal"
      tabindex="-1"
      id="newInstallModal"
      aria-labelledby="settings"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Porta aberta</h5>
          </div>
          <div class="modal-body">
            <p>A Porta está aberta!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" id="senhaInvalidaModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Senha invalida</h5>
          </div>
          <div class="modal-body">
            <p>Senha invalida! Digite novamente</p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>

    <script src="./dist/renderer.js"></script>
    <script>
      var socket = io('http://localhost:3000/view');
      const { ipcRenderer } = require('electron');
      let password = '';
      function start() {
        socket.emit('start', [password]);
      }

      function setValue(value) {
        resetTimer();
        console.log(password.length)
        if (password.length == 7) {
          start();
          return;
        }
        password += value;
        document.getElementById('code').innerHTML = Array(password.length)
          .fill('<i class="fa-solid fa-circle"></i>')
          .join(' ');
      }

      function apagar() {
        password = password.slice(0, -1);
        document.getElementById('code').innerHTML = Array(password.length)
          .fill('<i class="fa-solid fa-circle"></i>')
          .join(' ');
      }

      let timeSenha;
      function apagaSenha() {
        password = '';
        document.getElementById('code').innerHTML = '';
      }


      function resetTimer() {
        clearTimeout(timeSenha);
        timeSenha =setTimeout(apagaSenha, 5000);
      }


      socket.on('authorized', (data) => {
        var myModal = new bootstrap.Modal(
          document.getElementById('newInstallModal'),
          { backdrop: 'static', keyboard: false },
        );
        myModal.show();
        apagaSenha()
        ipcRenderer.send('GPIO', 'ON');
        //timer
        setTimeout(() => {
          const isPortaAborta = ipcRenderer.invoke('is-porta-aberta');
          if (!isPortaAborta) {
            ipcRenderer.send('GPIO', 'OFF');
            myModal.toggle();
          } else {
            ipcRenderer.invoke('wait-close-port').then((result) => {
              socket.emit('porta-fechada');
              myModal.toggle();
            });
          }
        }, 5000);

      });
      socket.on('unauthorized', (data) => {
        var myModal = new bootstrap.Modal(
          document.getElementById('senhaInvalidaModal'),
          { backdrop: 'static', keyboard: false },
        );
        myModal.show();
        apagaSenha()
        setTimeout(() => myModal.toggle(), 3000);
      });
      socket.on('message', (data) => console.log(data));

      function showTime() {
        var date = new Date();
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();

        h = h < 10 ? '0' + h : h;
        m = m < 10 ? '0' + m : m;
        s = s < 10 ? '0' + s : s;

        var time = h + ':' + m + ':' + s;

        document.getElementById('MyClockDisplay').innerText = time;
        document.getElementById('MyClockDisplay').textContent = time;

        setTimeout(showTime, 1000);
      }

      showTime();
    </script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link href="./assets/fontawesome/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="./index.css" />
  </body>
</html>
